<%- include("partials/header") -%>


<h3 style="text-align: center; margin-top: 50px;">aboutUs</h3>
<div style="margin-left: 150px; margin-right: 200px; ">
<p>Lists AI Bot is a website which enlists AI bots available on internet and some of 
    them are hidden or newly available on the internet. Our website provides a 
    platform in which a AI Web developer can list there site and promote there work.
    <br> so that many audience can reach to their site.</p>
    
</div>

<%- include("partials/footer") -%>
