<!-- <!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>


    <h1>reg new</h1>

<form class="" action="/reg" method="post">
  <label\>username</label>
  <input type="text" name="name" value="">
  <label>Email</label>
  <input type="email" name="username" value="">
  <label>Password</label>
  <input type="text" name="password" value="">
  <button type="submit" name="button">submit</button>
  <a href="/login"><button type="button">Login</button></a>
</form>

  </body>
</html> -->


<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
  
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    
    <!-- Style -->
    <link rel="stylesheet" href="css/style.css">

    <title>Login #7</title>
  </head>
  <body>
  

  
  <div class="content">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <img src="images/undraw_remotely_2j6y.svg" alt="Image" class="img-fluid">
        </div>
        <div class="col-md-6 contents">
          <div class="row justify-content-center">
            <div class="col-md-8">
              <div class="mb-4">
              <h3>Sign Up <strong>AI_Something</strong></h3>
              <p class="mb-4">This is place where you can find many useful bots that makes your life easy.</p>
			  <form action="/reg" method="post">
			  <div class="form-group last mb-4">
				<label >Username</label>
				<input type="text" class="form-control" name="name" >
				
			  </div>
            </div>
           
              <div class="form-group first">
                <!-- <label for="username">Email</label> -->
                <input type="text" class="form-control" name="username" placeholder="Email" >

              </div>
              <div class="form-group last mb-4">
                <!-- <label for="password">Password</label> -->
                <input type="text" class="form-control" name="password"  placeholder="Password">
                
              </div>
              
              <div class="d-flex mb-5 align-items-center">
                <label class="control control--checkbox mb-0"><span class="caption">Remember me</span>
                  <input type="checkbox" checked="checked"/>
                  <div class="control__indicator"></div>
                </label>
                <!-- <span class="ml-auto"><a href="#" class="forgot-pass">Forgot Password</a></span>  -->
              </div>

              <input type="submit" value="Sign Up" class="btn btn-block btn-primary1">
              <button class="btn btn-block btn-primary1  nav-link"><a class="nav-link" href="/login">Login</a></button>


            </form>
            </div>
          </div>
          
        </div>
        
      </div>
    </div>
  </div>

  
    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/main.js"></script>
  </body>
</html>